/* .navigation { border: 2px solid red;}
.nav-ul li {border: 2px solid blue;}
.contact {border: 2px solid blue;}
.main-content {border: 2px solid green;}
.photo-container {border: 2px solid purple;}
.text-content {border: 2px solid yellow;}
.bio-photo-div {border: 2px solid orange;}
.bio-photo-div img {border: 2px solid orangered;} */


html, body {
    background: rgb(47, 47, 47);
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 8px black;
    margin: 0;
    height: 100%;
}

/* Font family and style for text */
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

h3 {
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a {
    text-decoration: none;
    color: orange;
}

/* Naigation bar styling */
.navigation {
    /* display: none; */
    justify-content:space-around;
    box-shadow: 1px 1px 400px rgb(15, 13, 13);
    background-color: rgba(10, 10, 9, 0.3);
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    justify-content: center;
}

.nav-ul li {
    padding: .8em;
    /* padding-right: 25%;
    padding-left: 25%; */
}

.nav-ul li:hover {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 167, 52);
    cursor: pointer;
}

/* Contact button style */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* text-align: center; */
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    color: rgb(255, 167, 52);
}
/* #contact-button-img {
    color: orange;
    width: 45px;
    
}
#contact-button-img img {
    color: orange;
    width: 45px;
    
} */
/* ==================== */
.page-footer {


    flex-wrap: wrap;
    justify-content: center;
    /* padding: 1em; */
    margin: 0;
}

.page-footer a {
    color: var(--font-color2);
    text-decoration: none;
}
.social {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    padding-right: 1em;
}
.social li {
    margin-bottom: 1em;
    margin-left: .3em;
    margin-right: .3em;
}
.fa {
    border-radius: 15%;
    font-size: 20px;
    padding: 10px;
    margin: .2em;
    text-align: center;
    text-decoration: none;
    width: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: orange;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.fa-twitter {
    background: orange;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.fa-instagram {
    background: orange;
    color: white;
    text-shadow: black 1px 1px 1px;
}

/* ==================== */

.contact:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

ul {
    /* padding-left: 4em; */
}
/* Navigation buttons style */
.button-nav {
    border: none;
    color: inherit;
    box-shadow: none;
    background: none;
    cursor: pointer;
    font-weight: bolder;
}

/* Work content - projects section */
.work-content-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "project-description"
    "project-img";
    height: 330px;
    padding: 1em;
}
.work-content-projects p {
    margin-top: 2em;
    grid-area: project-description;
}

.work-content-projects img {
    width: 80%;
    grid-area: project-img;
    margin-left: 4em;
    margin-top: 2em;
}


#project1 {
    background-color: rgba(0, 0, 0, 0.2);
}
#project2 {
    background-color: rgba(0, 0, 0, 0.4);
}
#project3 {
    background-color: rgba(0, 0, 0, 0.2);
}


/* Main content layout */
.main-content {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
}

/* Bio Photo and style  */
.photo-container {
    text-align: right;
}

.bio-photo-div img {
    height: 250px;
    width: 250px;
    margin-top: 2em;
}


.bio-photo-div {
    /* background-image: radial-gradient(circle at top right, rgb(100, 100, 100) 20%, rgba(255, 255, 255, 0), transparent); */
    /* height: 500px; */
    display: flex;
    justify-content: center;
}

/* Home Content Section */
.home-content {
    margin-top: auto;
    margin-bottom: auto;
    font-size: small;
    padding-left: 1.5em;
}

.home-content a, strong {
    text-decoration: none;
    cursor: pointer;
    color: orange;
}

#display-home {
    color: orange;
}


/* About Content Section */
.about-content {
    margin-top: auto;
    margin-bottom: auto;
    font-size: small;
    padding-left: 1.5em;
}

/* Work Content Section */
.work-content {
    /* margin-top: auto; */
    margin-bottom: auto;
    font-size: small;
    padding-left: 1.5em;
}

/* Resume Content Section */
.resume-content {
    margin-top: auto;
    margin-bottom: auto;
    font-size: small;
    padding-left: 1.5em;
}

.resume-content img {
    max-width: 90%;
    margin: 1em;
}

.resume-scroll {
    background-image: linear-gradient(45deg, rgba(63, 63, 63, 0.5), rgba(128, 128, 128, 0.5), rgba(63, 63, 63, 0.5));
    width: 90%;
    /* overflow: auto; */
    height: 100%;
    border-radius: 10px;
}


/* Contanct Content Section */
.contact-content {
    margin: auto;
    margin-top: 1em;
    font-size: large;
    padding-left: 1em;
    background: rgba(75, 60, 60, 0.2);
    border-radius: 20px;
    width: 300px;
}

.contact-fields form button:hover, .contact-fields form button:focus {
    color: #fff;
    outline: 0;
}

.contact-fields form {
    display: flex;
    flex-direction: column;
    /* grid-template-areas: "p full" "p full" "p full" "p submit-contact"; */
    grid-gap: 5px;
}

.contact-fields input, textarea {
    background: rgb(78, 78, 78);
    font-size: large;
    color: white;
    border: none;
    border-radius: 5px;
    height: 1.5em;
    width: 270px;
}

.contact-fields textarea {
    height: 12em;
    font-size: 1.3em;
}

.contact-fields p {
    margin-top: 0;
}
.alert {
    text-align: center;
    padding: 10px;
    background: orange;
    color: #fff;
    margin-bottom: 5px;
    display: none;
    border-radius: 10px;
    width: 250px;
    
  }

  .submit-contact {
      text-align: center;
  }
  .btn-submit {background-image: linear-gradient(to right, #b45a06 0%, #5f3600  51%, #ff9f22  100%)}
  .btn-submit {
     margin: 10px;
     margin-right: 4em;
     padding: 10px 25px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     border:none;
     color: white;            
     /* box-shadow: 0 0 20px #eee; */
     border-radius: 10px;

   }

   .btn-submit:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
   

#download-button {
    /* position: absolute; */
    top: 350px;
    width: 15%;
    text-align: center;
    padding: 0;
    margin-left: 1.5em;
    margin-bottom: 1em;
    background-color: rgb(112, 111, 111);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#download-button:hover {
    background-color: rgb(170, 170, 170);
    
}
#download-button:active {
    background-color: orange;
    
}
#download-button img {
    width: 70%;
    margin: 5px 5px;

}

.hide {
    display: none;
}


/* Text animation to Home, About, Work, Resume and Contact Section */
.home-content, .about-content, .work-content, .resume-content, .contact-content {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}


/* Text Fade-in animation properties */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Page Scrollbar style */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #adadad; 
    border-radius: 40px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(10, 10, 9, 0.5);
        border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(10, 10, 9, 0.7);  }

    @media screen and (min-width: 30em ) {
        .work-content-projects {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "project-description project-img"
            "project-link project-img";
            height: 50%;
            padding: 1em;
        }

        
        .contact-content {
            margin-top: 3em;
            width: 370px;
        }
              

        
        .contact-fields input, textarea {
            height: 2.5em;
            width: 345px;
        }
        

        .alert {
            width: 335px;
            
          }
        
          .submit-contact {
              text-align: center;
          }


    }

    @media screen and (min-width: 50em) {

        .navigation {
            display: flex;
            justify-content: space-between;
        }
        

        
        .nav-ul li {
            padding: 2em;
        }
              
        /* Contact button style */
        .contact {
            text-align: left;
            padding-left: 2em;
            padding-right: 2em;
            padding-top: .5em;
            color: rgb(255, 167, 52);
        }
              
        ul {
            padding-left: 4em;
        }
        .contact-content {
            margin-top: 3em;
            width: 570px;
        }
              

        
        .contact-fields input, textarea {
            height: 2.5em;
            width: 545px;
        }
        

        .alert {
            width: 535px;
            
          }
        
          .submit-contact {
              text-align: center;
          }

        .social li {
            margin-left: .5em;
            margin-right: .5em;
        }
        .fa {
            border-radius: 15%;
            font-size: 20px;
            padding: 15px;
        }

    }

    @media screen and (min-width: 70em) {
        
        .navigation {
            display: flex;
            justify-content: space-between;
        }
        

        
        .nav-ul li {
            padding: 2.5em;
        }
              
        /* Contact button style */

              
        ul {
            padding-left: 4em;
        }

              

        
        .contact-fields input, textarea {
            height: 2.5em;
            width: 500px;
        }
        

        .alert {
            width: 480px;
            
          }
        

          .main-content {
            background-image: radial-gradient(circle at top right, rgb(100, 100, 100) 20%, rgba(255, 255, 255, 0), transparent);

            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
        }
        
        /* Bio Photo and style  */
        .photo-container {
            text-align: right;
        }
        
        .bio-photo-div img {
            height: 600px;
            width: 600px;
            margin-top: auto;
        }
        
        
        .bio-photo-div {
            height: 800px;
            width: 540px;
            display: flex;
            justify-content: flex-end;
        }
        
        /* Home Content Section */
        .home-content {
            margin-top: 10em;
            margin-bottom: auto;
            font-size: large;
            padding-left: 3em;
        }
        

        
        
        /* About Content Section */
        .about-content {
            margin-top: 8em;
            font-size: large;
            padding-left: 3em;
        }
        
        /* Work Content Section */
        .work-content {
            margin-top: 3em;
            font-size: large;
            padding-left: 3em;
        }
        
        /* Resume Content Section */
        .resume-content {
            margin-top: 6em;
            font-size: large;
            padding-left: 3em;
        }
        
        .resume-content img {
            max-width: 900px;
            margin: 1em;
        }
        
        .resume-scroll {
            background-image: linear-gradient(45deg, rgba(63, 63, 63, 0.5), rgba(128, 128, 128, 0.5), rgba(63, 63, 63, 0.5));
            width: 600px;
            overflow: auto;
            height: 500px;
            border-radius: 10px;
        }
        
        
        /* Contanct Content Section */
        .contact-content {
            margin: auto;
            margin-top: 5em;
            font-size: large;
            padding-left: 2em;
            background: rgba(75, 60, 60, 0.2);
            border-radius: 20px;
            width: 650px;
        }
        

        .social li {
            margin-bottom: 2em;
            margin-left: .7em;
            margin-right: .7em;
        }

        .page-footer {
            display: flex;
            justify-content: flex-start;
        }

        .social span {
            font-size: 25px;
        }
        .fa {
            border-radius: 15%;
            font-size: 20px;
            padding: 25px;
            margin: .2em;
            text-align: center;
            text-decoration: none;
            width: 20px;
        }
    }

    @media screen and (min-width: 90em) {

        h1 {
            font-size: 3.5em;
        }
        
        h2 {
            font-size: 2.5em;
        }
        h3 {
            font-size: 1.5em;
        }
        .button-nav {
            font-size: large;
        }
        
        .nav-ul li {
            padding: 2.5em;
        }
              
        /* Contact button style */
           .contact-fields input, textarea {
            height: 3em;
            width: 700px;
        }
        

        .alert {
            width: 680px;
            
          }
        
        
        /* Bio Photo and style  */
        .photo-container {
            text-align: right;
        }
        
        .bio-photo-div img {
            height: 800px;
            width: 800px;
            margin-top: auto;
        }
        
        
        .bio-photo-div {
            height: 950px;
            width: 840px;

        }
        
        /* Home Content Section */
        .home-content {
            margin-top: auto;
            margin-bottom: auto;
            font-size: large;
            padding-left: 5em;
        }
        

        
        
        /* About Content Section */
        .about-content {
            margin-top: auto;
            margin-bottom: auto;
            font-size: large;
            padding-left: 5em;
        }
        
        /* Work Content Section */
        .work-content {
            margin-top: 2em;
            margin-bottom: auto;
            font-size: large;
            padding-left: 3em;
        }
        
        /* Resume Content Section */
        .resume-content {
            margin-top: 6em;
            font-size: large;
            padding-left: 3em;
        }
        
        .resume-content img {
            max-width: 900px;
            margin: 1em;
        }
        
        .resume-scroll {
            width: 1000px;
            height: 600px;
        }
        
        
        /* Contanct Content Section */
        .contact-content {
            font-size: large;
            width: 750px;
        }
        .contact {
            padding-top: 1.5em;
        }

        .social li {
margin-left: 2em;
margin-right: 2em;
        }

        .work-content-projects {
            height: 430px;
            /* padding: 1em; */
        }
    }